/* Perfil.css */
.perfil-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.profile-pic-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
    margin: 0 auto;
}

.user-info {
    margin-top: 20px;
    color: #333;
}

.user-info p {
    font-size: 16px;
    margin: 5px 0;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaciado entre los botones */
}

.save-button, .logout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Hacer que ambos botones ocupen el mismo ancho */
    max-width: 48%; /* Límite máximo del ancho de los botones */
}

.save-button:hover {
    background-color: #45a049;
}

.logout-button {
    background-color: #f44336;
}

.logout-button:hover {
    background-color: #e53935;
}
