body{
  background-image: url(sportwave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

body, html {
  height: 100%; /* Asegura que el layout ocupe toda la pantalla */
  margin: 0;
  display: flex;
  flex-direction: column; /* Organiza el layout en una columna */
}

#root {
  display: flex;
  flex-direction: column; /* Organiza los componentes principales en columna */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que este contenedor crezca si es necesario */
}

/*Tamaño ordenador*/
.menuDesplegable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Espaciado opcional */
  background: #1e1c61;
}

.menuLeft,
.menuRight {
  display: flex;
  gap: 10px; /* Ajusta el espacio entre los elementos */
}

.menuRight {
  margin-left: auto; /* Empuja la sección derecha hacia la derecha */
}

.botonMenu{
  display: none;
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

li{
  list-style: none;
}

nav a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  display: block;
}

ul li a:hover{
  background: grey;
}

/*Tamaño responsive*/
@media(max-width: 850px){
  .boton1{
    background-color:black;
    display: block;
  }
  .menuDesplegable{
    transform: translate(-100%);
    transition: 0.5s;
    font-size: 1.5rem;
    width: 50%;
    background: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(2px);
  }
  i{
    font-size: 30px;
    background: #1e1e1e;
    color: white;
  }
  li a{
    padding: 20px 0px 20px 20px;
    display: block;
    text-align: left;
  }
  ul{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  button{
    margin: 10px 10px 10px 20px;;
    border: none;
  }
  .botonMenu{
    background-image: url('iconoMenu.png');
    background-color: black;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-position: center;
  }
  .abrirMenu{
    transform: translate(0%);
    transition: 0.5s;
    width: 50%;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(2px);
  }
  .cerrarMenu{
    background-image: url('iconoSalirMenu.png');
    background-color: black;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-position: center;
  }
}
@media(max-width: 500px){
  .menuDesplegable{
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
  }
  button{
    margin: 10px 10px 10px 15px;
  } 
}

